ejerciciosTema4_xml-xsd/ejercicio36.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="persona">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"></xs:element>
            <xs:element name="apellidos" type="xs:string"></xs:element>
            <xs:element name="telefono" type="xs:integer"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>