ejerciciosTema4_xml-xsd/ejercicio42.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="pelicula">
        <xs:complexType>
            <xs:attribute name="titulo" type="xs:string" use="optional"></xs:attribute>
            <xs:attribute name="genero" type="xs:string" use="optional"></xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>