ejerciciosTema4_xml-xsd/ejercicio43.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="cuadros">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cuadro" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="titulo" type="xs:string" use="required"></xs:attribute>
                        <xs:attribute name="autor" type="xs:string" use="required"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>